@media only screen and (max-width: 640px) {
   
    .topnav {
        flex-direction: row;
        text-align: center;
    }


    .aboutserv {
        text-align: center;
        margin: 25px;
        font-size: medium;
    }

    .aboutserv a {
        padding: 10px 5px;
    }

    div.title { 
        flex-direction: column;
        text-align: center;
    }

    .title .logo {
        height: 335px;
        padding: 0 50px;
    }

    div.description {
        flex-direction: column;
        text-align: center;
    }

    article.services {
        display: none;

    }

    footer {
        flex-direction: row;
        justify-content: center;

    }

}